$white-color:#fff;
$blue-color:#506de2;


.side_nav{
    width:70px;
    background-color: $white-color;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

ul li{
    padding: 15px 25px;
}
.bars{
    background-color: $blue-color;
}
.bars fa-icon{
    color: $white-color;
    font-size: 20px;
}

fa-icon:hover{
    color: $blue-color;
}