<div class="navbar">
    <div class="float-left">
        <div class="search">
            <fa-icon [icon]="faSearch"></fa-icon>
            <input type="text" name="search" placeholder="Search">
        </div>
    </div>
    <div class="float-right">
        <ul class="right-nav">
            <li>
                <select>
                    <option>English</option>
                    <option>Hindi</option>
                    <option>Odia</option>
                </select>
            </li>
            <li><fa-icon [icon]="faMessage"></fa-icon></li>
            <li><fa-icon [icon]="faBell"></fa-icon></li>
            <li><fa-icon [icon]="faUser"></fa-icon></li>
            <li>Rakesh Kumar Dash<span class="down-icon"><fa-icon [icon]="faCaretDown"></fa-icon></span></li>
        </ul>
    </div>
</div>