.container{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h3{
    padding: 15px 30px;
    font-weight: normal;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 20px;
}
.country{
    font-size: 12px;
}
.progress-bar {
   width: 100%;
    color: white;
    text-align: center;
    border-radius: 10px;
  }
  .active-btn{
   
    border: none;
    padding: 3px;
  }
  .user-img{
    border-radius: 50%;
  }
