<div class="container">
    <h3>Recent Order</h3>

    <div class="overflow-y">
        <table>
            <tr>
                <!-- <th>#</th> -->
                <th>Customer</th>
                <th>Products</th>
                <th>Delivery Date</th>
                <th>Status</th>
                <th>Tracking No.</th>
                <th>Shipping</th>
                <th>View</th>
            </tr>
            <tr *ngFor="let item of fetchData.recent_orders">
                <!-- <td>{{item.id}}</td> -->
                <td>{{item.name}}</td>
                <td>{{item.product}}</td>
                <td>{{item.delivery_date}}</td>
                <td><button [ngStyle]="getButtonStyle(item.status)" class="status">{{item.status}}</button>
                </td>
                <td>{{item.tracking_no}}</td>
                <td>{{item.shipping}}</td>
                <td> <button class="x-btn" (click)="openModal()"><fa-icon [icon]="faXmark"></fa-icon></button></td>
            </tr>
        </table>
    </div>

    <app-modal #modal [dataFromParent]="fetchData.recent_orders"></app-modal>


</div>